* {
    margin: 0px;
    padding: 0px;
  }
  
  :root {
    --cor-font: #333;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    backdrop-filter: blur(70px);
    background-repeat: no-repeat;
  }
  
  main {
    flex: 1;
    width: 100%;
  }
  
  .cabecalho1 {
    margin-left: 340px;
    color: #fff;
    position: absolute;
    margin-top: 45px;
    font-size: 33px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabecalho2 {
    margin-left: 340px;
    color: #fff;
    position: absolute;
    margin-top: 85px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  
  }
  
  header {
    height: 150px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: var(--cor-font);
  }
  
  .logo {
    position: relative;
    left: 90px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 180px;
    height: 150px;
  }
  .menu-icon {
    width: 95px;
    height: 28px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
    margin-left: 260px;
    transition: #fff 0.3s, color 0.3s;
    margin-top: -205px;
  }
  
  .account-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    filter: invert(27%) sepia(24%) saturate(195%) hue-rotate(128deg) brightness(94%) contrast(90%);
    margin-left: 1020px;
    transition: #ababab 0.3s, color 0.3s;
    margin-top: -190px;
  }

  footer {
    height: 65px;
    background: var(--cor-font);
    position: fixed;
    color: var(--cor-font);
    bottom: 0%; /* Posiciona o rodapé no final da página */
    width: 100%; /* Ocupa toda a largura */
  }
  
  .txt_rodape {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    left: 565px;
    margin-top: 17px;
    width: 385px;
    text-align: center;
  }  

  h1{
    margin-left: 340px;
    color: #000000;
    font-size: 33px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }