* {
  margin: 0px;
  padding: 0px;
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  backdrop-filter: blur(70px);
  background-repeat: no-repeat;
}

main {
  flex: 1;
}

:root {
  --cor-font: #333;
}

.cabecalho1 {
  margin-left: 290px;
  color: #fff;
  position: absolute;
  margin-top: 45px;
  font-size: 33px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cabecalho2 {
  margin-left: 290px;
  color: #fff;
  position: absolute;
  margin-top: 85px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;

}

header {
  height: 90%;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: var(--cor-font);
}

.logo {
  position: relative;
  left: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 180px;
  height: 150px;
}

.menu-icon {
  width: 33px;
  height: 28px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
  margin-left: 250px;
  transition: #fff 0.3s, color 0.3s;
  margin-top: -205px;
}

.button-container {
  margin-top: 50Px;
  margin-left: 200px;
}

.q1 {
  background-color: transparent;
  background-color: #F6F0F0;
  border: 2px solid #8EA9;
  color: #000;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.q1:hover {
  background-color: #000;
  color: #fff;
}

.Perfil {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  margin-top: -70px;
  font-size: 21px;
  margin-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Profissao {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  margin-top: -70px;
  font-size: 21px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.lolo {
  margin-left: 1250px;
  height: 50px;
  position: relative;
  top: -75px;
}

.cima {
  margin-left: 1200px;
  height: 100px;
  position: relative;
  top: -130px;
}

.entrar {
  height: 40px;
  width: 90px;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1px;
}

.cadastrar {
  height: 40px;
  width: 100px;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
  margin-right: 10px;
}

.entrar:hover {
  background-color: #000;
  color: #fff;
}

.cadastrar:hover {
  background-color: #000;
  color: #fff;
}

.img5 {
  position: relative;
  height: 17px;
}